body {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  background-color: honeydew;
}

.body-info {
  display: flex;
  flex-direction: column;
}

.body-info > * {
  justify-content: center;
  padding: 0rem 5rem 0rem 5rem;
}

.personal-info > * {
  text-align: center;
  font-size: 1rem;
}

.single-view {
  display: block;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.component-container {
  margin: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f44336;
  font-size: 1.25rem;
}

nav > * {
  margin: 1rem 1.5rem 1rem 1.5rem;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item-campus {
  width: 45%;
  height: 20%;
  margin: 1rem;
}

.card {
  display: flex;
}

.card > * {
  margin: 1rem;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
}

.grid-item-student {
  width: 15rem;
  height: 25rem;
  display: flex;
  padding: 1rem;
}

.grid-item-card {
  margin: 1rem;
}

#campus-card-img {
  width: 15rem;
  height: 10rem;
  object-fit: cover;
}

.portrait {
  width: 100%;
}

.selected {
  background-color: #e57373;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 0.75rem;
}

form label {
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
}

.warning {
  background-color: goldenrod;
}

.button-set {
  display: flex;
}

.left-button {
  padding-right: 0.25rem;
}

.right-button {
  padding-left: 0.25rem;
}

.home-container {
  display: flex;
}

.home-button-set {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

#home-title {
  font-size: 5rem;
  line-height: 6rem;
}

#home-emoji {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
}

.filter-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.filter-control > * {
  padding: 0.25rem;
}

.primary-button {
  padding: 1rem;
}

#save-button {
  padding: 0.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  width: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
